---
import { usePeriodLocalization } from "@/hooks/usePeriodLocalization";
import type { SessionPeriod } from "@/types/session.types";

interface Props {
  date: SessionPeriod;
}

const { date } = Astro.props;

const { period } = usePeriodLocalization(date.from, date.to);
---

<div class="text-sm text-stone-500">
  {period}
</div>
