/* @import "./fonts.css" */

@tailwind base;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Maple Mono NF';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/MapleMono/MapleMono-NF-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Maple Mono NF';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/MapleMono/MapleMono-NF-Italic.ttf) format('truetype');
  }
}

:root {
  font-family: "Inter Variable", sans-serif;
}
