---
import { Icon } from "@iconify/react";
---

<a
  class="flex gap-1 items-center hover:text-stone-800 transition text-stone-400"
  href="/"
>
  <Icon client:load icon="line-md:chevron-left" fontSize="14" />
  Перейти на главную
</a>
