---
import Layout from "@/layouts/Layout.astro";
import Title from "#/title.astro";
import Subtitle from "#/subtitle.astro";
import { Icon } from "@iconify/react";
import { sessions } from "@/data/sessions";
import Session from "@@/session/session.astro";
---

<Layout title="FRLEARN">
  <div class="mx-auto flex items-center gap-2">
    <Icon
      client:load
      fontSize="48"
      icon="fluent-emoji:leaf-fluttering-in-wind"
    />
    <Title class="text-center text-orange-600">FRLearn</Title>
  </div>

  <div class="flex items-center gap-2 mt-4">
    <Icon client:load fontSize="32" icon="fluent-emoji:books" />
    <Subtitle> Сессии </Subtitle>
  </div>

  <div class="mt-2 flex flex-col gap-4">
    {sessions.map((session) => <Session {...session} />)}
  </div>
</Layout>

<style></style>
