---
import Button from "#/button.astro";
---

<day-future
  class="absolute inset-0 z-10 flex flex-col gap-4 backdrop-blur backdrop-grayscale justify-center items-center"
>
  <div
    class="w-fit text-lg bg-white text-stone-900 px-4 py-2 shadow-md border border-orange-500 rounded-md"
  >
    Данное занятие еще не началось
  </div>
  <Button>Я любопытный</Button>
</day-future>

<script>
  class DayFuture extends HTMLElement {
    // eslint-disable-next-line prettier/prettier
    connectedCallback() {
      this.querySelector("button")?.addEventListener("click", () => {
        this.style.display = "none";
      });
    }
  }

  if (!customElements.get("day-future")) {
    customElements.define("day-future", DayFuture);
  }
</script>
