<div
  class="absolute inset-0 z-10 text-xl flex font-semibold backdrop-blur backdrop-grayscale justify-center items-center"
>
  <div class="w-fit bg-white px-4 py-2 shadow-sm border rounded-md">
    Данное занятие еще не началось
  </div>
</div>
