---
import Link from "#/link.astro";
import { Icon } from "@iconify/react";
---

<footer class="flex items-center text-stone-400 text-sm my-4 px-8">
  <div class="mx-auto rounded-md text-white bg-stone-900 py-1 px-2">
    Developed by <Link target="_blank" href="github.com/tokiory">tokiory</Link> with
    <Icon
      className="inline"
      icon="fluent-emoji:pink-heart"
      client:load
      font-size="14"
    />
    using <Icon
      className="inline"
      client:load
      font-size="14"
      icon="vscode-icons:file-type-astro"
    />
  </div>
  <div>
    <a target="_blank" href="https://github.com/tokiory/frlearn">
      <Icon
        client:load
        fontSize="18"
        className="grayscale-[0.7] "
        icon="devicon:github"
      />
    </a>
  </div>
</footer>
