---
import Link from "#/link.astro";
---

<footer class="flex justify-center text-stone-400 text-sm items-center my-4">
  <div>
    Developed by <Link target="_blank" href="github.com/tokiory">tokiory</Link> with
    ❤️ and Astro
  </div>
</footer>
