---
import Footer from "@@/footer.astro";
import "@/styles/main.css";
import "@fontsource-variable/inter";
import "@fontsource-variable/jetbrains-mono";
import SeoPreview from "@@/seo/seo-preview.astro";
import SeoInformation from "@@/seo/seo-information.astro";
import SeoFavicon from "@@/seo/seo-favicon.astro"

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- <SeoFavicon /> -->
    <SeoPreview image="banner.jpg" />
    <SeoInformation title={title} description="Платформа для просмотра курсов FRLEARN" />
  </head>
  <body>
    <div
      class="min-h-[calc(100vh-60px)] py-12 md:pt-48 md:pb-12 flex flex-col max-w-[856px] px-4 md:px-2 mx-auto"
    >
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style is:global></style>
